html, 
body,
.App {
    height: 100vh;
}

.App {
  padding: 0 !important;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.815);
  object-fit: cover;
}

.bg-navbar {
  color: #fbe030da;
  background-color: black;
  font-family: 'Bowlby One SC', cursive;
  margin-bottom: 0 !important;
}

.bg-footer {
  color: #fbe030;
  background-color: black;
  padding: 0.5rem 1rem 0.01rem 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}



.bg-batman {
  background-color: #0c357c;
}

.bg-ozymandias {
  background-color: #fbe030;
}

.bg-superman {
  background-color: #1267e5;
}

.bg-comedian {
  background-color: #ee6630;
}

.bg-manhattan {
  background-color: #177dfd;
}

.text-batman {
  color: #0c357c;
}

.text-ozymandias {
  color: #fbe030;
}

.text-superman {
  color: #1267e5;
}

.text-comedian {
  color: #ee6630;
}

.text-manhattan {
  color: #177dfd;
}
