.bg-navbar {
    color: #fbe030;
    background-color: #0c357c;
}













.bg-batman {
    background-color: #0c357c;
}

.bg-ozymandias {
    background-color: #fbe030;
}

.bg-superman {
    background-color: #1267e5;
}

.bg-comedian {
    background-color: #ee6630;
}

.bg-manhattan {
    background-color: #177dfd;
}

.text-batman {
    color: #0c357c;
}

.text-ozymandias {
    color: #fbe030;
}

.text-superman {
    color: #1267e5;
}

.text-comedian {
    color: #ee6630;
}

.text-manhattan {
    color: #177dfd;
}